.load-container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2110;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.135);
}
.load-container.hide{
    display: none;
}
.load-container img{
    width: 80px;
    border-radius: 10px;
    padding: 8px;
    background-color: #fff;
}